@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap');
body {
  background-color: #194350;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}
header {
  /* background-color: #194350; */
  padding: 1%;
}

hr {
  border-style: none;
  width: 60%;
  background-color: #DBF6E9;
  height: 2px;
}

.title {
  color: #DBF6E9;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}

.caption {
  margin-top: 5%;
  margin-left: 15%;
  font-size: 1.5rem;
  color: #DBF6E9;
  font-weight: bold;
}

.list-city-name {
  margin: 0% 15%;
}
.item {
  width: 10%;
  display: inline-block;
}

input[type="checkbox"] {
  color: #194350;
}

.city-name {
  color: #CDF0EA;
  font-weight: 300;
}

.city-name:hover {
  font-weight: bold;
}

.chart {
  margin: 5% 10%;
  width: 80%;
  
  /* padding-top: 5%;
  background-color: aliceblue;
  width: 80%;
  border-radius: 2rem; */
}

.year {
  color: #194350;
}