@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;900&display=swap');
body {
  background-color: #194350;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}
header {
  padding: 1%;
}

hr {
  border-style: none;
  width: 60%;
  background-color: #DBF6E9;
  height: 2px;
}

.title {
  color: #DBF6E9;
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
}

.caption {
  margin-top: 5%;
  margin-left: 15%;
  font-size: 1.5rem;
  color: #DBF6E9;
  font-weight: bold;
}

.list-city-name {
  margin: 0% 15%;
}

.item {
  width: 20px;
}

label {
  width: 10%;
  display: inline-block;
  color: #CDF0EA;
}

label:hover {
  font-weight: bold;
}

.chart-container {
  margin: 5%;
  margin-bottom: 0;
  
}

.year {
  color: #194350;
}

h2 {
  text-align: center;
  margin-top: 0;
  color: #CDF0EA;
  font-weight: lighter;
  font-size: 1rem;
}